<template lang="pug">
  main
    .container
      section#search
        h1 Search for an article
        input(type="text" role="search" placeholder="Enter an article title to search for" v-model="search_term")
        i.fa.fa-times-circle.clear(
          v-if="search_term && search_term.length > 0"
          @click="search_term = null"
        )
      section#articles.article-card-container(v-if="sorted_articles.length > 0")
        article-card(
          v-for="article in sorted_articles"
          :key="article.attributes.name"
          :thumbnail="article.attributes.thumbnail"
          :title="article.attributes.title"
          :published="article.attributes.published"
          :description="article.attributes.description"
          :endpoint="article.attributes.endpoint"
        )

      hr

      section#browse-by-category
        h2 Browse articles by category
        nav.navbar
          a.navlink(v-for="category in article_categories" :href="'/courtside/' + category") {{category}}
</template>

<script>
import ArticleService from '~/services/FrontArticleService.js'

import ArticleCard from '~/components/ArticleCard.vue'

export default {
  layout: "courtside",
  head() {
    return {
      title: "Search for blog articles and podcasts",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Search for articles about music education, production, software tips & tricks, artist interviews, and more on ToneCoach Courtside."
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: "ToneCoach Courtside | Search for blog articles and podcasts"
        },
        {
          hid: "og:description",
          property: "og:description",
          content: "Search for articles about music education, production, software tips & tricks, artist interviews, and more on ToneCoach Courtside."
        },
        {
          vmid: 'twitter:title',
          name: 'twitter:title',
          content: "ToneCoach Courtside | Search for blog articles and podcasts",
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: "Search for articles about music education, production, software tips & tricks, artist interviews, and more on ToneCoach Courtside."
        }
      ]
    }
  },
  data: function() {
    return {
      search_term: null
    }
  },
  computed: {
    searched_articles: function() {
      let courtside = this
      let searched_articles = courtside.articles.filter(article => {
        if (article.attributes.title && courtside.search_term) {
          let article_title = article.attributes.title.toLowerCase(),
              search_term = courtside.search_term.toLowerCase()

          return article_title.includes(search_term)
        } else return false
      })

      return searched_articles
    },
    sorted_articles: function() {
      let courtside = this
      return courtside.searched_articles.sort((current_article, previous_article) => {
        return new Date(current_article.attributes.published) - new Date(previous_article.attributes.published)
      })
    }
  },
  async asyncData({ params }) {
    let articles = await ArticleService.getAllArticles(),
        article_categories = await ArticleService.getArticleCategories()

    return {
      articles,
      article_categories
    }
  },
  components: {
    ArticleCard
  }
}
</script>

<style lang="css" scoped>
section#search {
  margin-bottom: 30px;
  position: relative;
}

section#search h1 {
  margin-bottom: 0;
  font-size: 1.8rem;
}

section#search input[role="search"] {
  border: none;
  border-bottom: 1px solid #bbb;
  font-size: 20px;
  padding: 5px 0 2px;
  width: 100%;
  color: #777;
  transition: .05s ease-out;
  margin-top: 5px;
}

section#search input[role="search"]:active,
section#search input[role="search"]:focus {
  border-color: #393939;
  color: #454545;
  outline: none;
  padding-bottom: 4px;
  font-size: 22px;
}

section#search .clear {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #393939;
  cursor: pointer;
}

section#articles {
  margin: 30px 0;
}

section#browse-by-category {
  margin-bottom: 30px;
}

section#browse-by-category nav.navbar {
  margin: 0;
}

section#browse-by-category nav.navbar .navlink {
  margin: 0 10px;
}

section#browse-by-category nav.navbar .navlink:first-child {
  margin-left: 0;
}

section#browse-by-category nav.navbar .navlink:last-child {
  margin-right: 0;
}
</style>
