<template lang="pug">
form#mailchimp-signup-form.validate(
  action="https://coach.us4.list-manage.com/subscribe/post?u=41715791c3889a903d94b9d29&amp;id=b79f9ead7f"
  method="post"
  name="mc-embedded-subscribe-form"
  target="_blank"
  novalidate
)
  // form fields
  .fields
    .field
      label(for="EMAIL") Email
      input(type="email" value="" name="EMAIL" placeholder="mozart@classical.fm" required)

    .field
      label(for="FNAME") First Name
      input(type="text" value="" name="FNAME" placeholder="Wolfgang" required)

    // bot control
    .field.honeypot(aria-hidden="true")
      input(type="text" name="b_41715791c3889a903d94b9d29_b79f9ead7f" tabindex="-1" value="")

  // form submit
  .submit
    input.cta.btn.solid.light.large(type="submit" value="Subscribe" name="subscribe")
</template>

<script>
export default {
  name: 'mailchimp-embed'
}
</script>

<style lang="css" scoped>
#mailchimp-signup-form {
  width: fit-content;
  margin: 0 auto;
}

#mailchimp-signup-form .fields {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

#mailchimp-signup-form .field label {
  margin-right: 10px;
  font-size: 21px;
  font-weight: bold;
}

#mailchimp-signup-form .field input {
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}

#mailchimp-signup-form .field label,
#mailchimp-signup-form .field input  {
  font-family: 'Nunito', sans-serif;
}

#mailchimp-signup-form .submit {
  margin-top: 15px;
}

#mailchimp-signup-form input {
  color: #303030 !important;
}

#mailchimp-signup-form input[type="submit"] {
  width: 100%;
  background: white;
  padding: 10px;
  box-shadow: none;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-weight: bold;
}

#mailchimp-signup-form input[type="submit"]:hover {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
  transform: scale(1.01);
}

#mailchimp-signup-form .field.honeypot {
  position: absolute; left: -5000px;
}

@media screen and (max-width: 992px) {
  #mailchimp-signup-form,
  #mailchimp-signup-form .fields,
  #mailchimp-signup-form .fields .field,
  #mailchimp-signup-form .submit,
  #mailchimp-signup-form .submit input {
      width: 100%;
  }

  #mailchimp-signup-form .fields .field input {
    width: calc(100% - 20px);
  }

  #mailchimp-signup-form .fields {
    grid-template-columns: auto;
  }
}
</style>
