<template lang="pug">
footer
  section#links.hide-md
    .container
      .grid
        .brand
          a(href="/")
            img(src="~assets/img/logo/Rounded Background.png" alt="ToneCoach logo" width="65px")
        section#page-links
          h4 Pages
          ul
            li
              a(href="/") Home
            li
              a(href="/courtside") Courtside
        section#app-links
          h4 ToneCoach Apps
          ul
            li
              a(href="/") Train
            li
              a(href="/academy") Academy
            li
              a(href="/coaches") Coaches
        section#info-links
          h4 Resources
          ul
            li
              a(href="/info/privacy-policy") Privacy Policy
            li
              a(href="/info/terms-and-conditions") Terms and Conditions
  section#content
    .container.text-center
      .flex.row.wrap.center
        social-media-navbar
        hr.dark.hide-md
        div
          a(href="https://app.tone.coach")
            img.google-play-badge(
              src="~assets/img/badges/Google_Play_Store_Badge_EN.svg"
              height="40px"
              alt="Google Play Store badge"
          )
          a(href="https://app.tone.coach")
            img(
              src="~assets/img/badges/iOS_App_Store_Badge_EN.svg"
              height="40px"
              alt="iOS App Store badge"
            )
</template>

<script>
import SocialMediaNavbar from '~/components/SocialMediaNavbar.vue'

export default {
  name: 'website-footer',
  components: {
    SocialMediaNavbar
  }
}
</script>

<style lang="css" scoped>
section#links {
  padding: 75px 0;
  background: #002125;
}

section#links .grid {
  display: grid;
  grid-template-columns: 100px auto auto auto;
}

section#links .grid section {
  padding: 0 20px;
}

section#links h4 {
  margin-top: 0;
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  margin-bottom: 10px;
}

section#links a,
section#links a:visited {
  color: white;
}

section#links a:hover {
  text-decoration: underline;
}

section#links ul,
section#links li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

section#links li {
  margin: 10px 0;
}

section#content {
  padding: 50px 0;
  color: white;
  background-color: #003a41;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, .3);
}

section#content hr {
  flex-grow: 1;
  margin: 0 50px;
}

.google-play-badge {
  margin-right: 20px;
}
</style>
