<template lang="pug">
.wrapper
  header
    nav.navbar
      .container.flex.row
        .links.flex.row
          a.navlink.brand.flex.row(href="/courtside")
            img(src="~/assets/img/logo/Minimal.png" width="45px")
            h1.margin-0 Courtside Blog
          a.navlink(href="/") Home
          a.navlink(href="/courtside/search")
            i.fa.fa-search.search
    nav.breadcrumbs(v-if="$route.params.category")
      .container
        small
          a.breadcrumb-link(href="/courtside") Courtside
          a.breadcrumb-link(:href="'/courtside/' + $route.params.category") {{$route.params.category}}
          a.breadcrumb-link(v-if="$route.params.slug" :href="'/courtside/' + $route.params.category + '/' + $route.params.slug") {{$route.params.slug}}

  // replace with fortawesome npm library later
  script(src="https://kit.fontawesome.com/e03f792293.js" crossorigin="anonymous")
  //
  nuxt
  website-footer
</template>

<script>
import WebsiteFooter from '~/components/WebsiteFooter.vue'

export default {
  components: {
    WebsiteFooter
  },
  head() {
    let app = this
    return {
      titleTemplate: "ToneCoach Courtside Blog | %s",
      meta: [
        // OpenGraph data
        {
          hid: "og:site_name",
          property: "og:site_name",
          content: "ToneCoach Courtside Blog"
        },
        {
          hid: "og:type",
          property: "og:type",
          content: "article"
        },
        {
          hid: "og:url",
          property: "og:url",
          content: `https://tone.coach${app.$route.fullPath}`
        },
        {
          hid: "og:image",
          property: "og:image",
          content: "https://tone.coach/img/banner.png"
        },
        // Twitter metadata
        {
          hid: "twitter:url",
          property: "twitter:url",
          content: `https://tone.coach${app.$route.fullPath}`
        },
        {
          hid: "twitter:image",
          property: "twitter:image",
          content: "https://tone.coach/img/banner.png"
        },
        {
          hid: "twitter:image:src",
          property: "twitter:image:src",
          content: "https://tone.coach/img/banner.png"
        }
      ],
      link: [
        // Essential url SEO metadata
        {rel: "canonical", href: `https://tone.coach${app.$route.fullPath}`},
        {itemprop: "url", href: `https://tone.coach${app.$route.fullPath}`},
        {itemprop: "thumbnailUrl", href: "https://tone.coach/img/banner.png"}
      ]
    }
  }
}
</script>

<style lang="css" scoped>
.musician-background {
  background-attachment: fixed;
}

header h1 {
  font-weight: bolder;
  margin: 0;
}

nav.navbar {
  background: white;
  padding: 50px 0;
}

nav.navbar .links {
  flex-grow: 1;
  align-items: center;
}

nav.navbar .links .brand {
  flex-grow: 1;
  align-items: center;
}

nav.navbar .links h1 {
  margin-left: 10px;
}

nav.navbar .navlink {
  margin: 0 10px;
}

nav.navbar .navlink:first-child {
  margin-left: 0;
}

nav.navbar .navlink:last-child {
  margin-right: 0;
}

nav.breadcrumbs {
  width: 100%;
  background: #f1f1f1;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

nav.breadcrumbs span {
  margin: 0 5px;
}

nav.breadcrumbs a.breadcrumb-link:after {
  width: 8px;
  height: 36px;
  background-size: 8px 36px;
  background-repeat: no-repeat;
  background-image: url('~assets/img/courtside/breadcrumb_seperator.svg');
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -1px 11px 0;
  height: 18px;
  background-position-y: 100%;
}

nav.breadcrumbs a.breadcrumb-link:last-child:after {
  display: none;
}

main {
  flex-grow: 1;
}
</style>

<style>
/*@import url('~/assets/css/animate.css');*/

.search {
  padding-left: 15px;
  border-left: 1px solid black;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.wrapper > main {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, .1);
  padding: 50px 0;
  background: #fefefe;
}

.article-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}

@media screen and (max-width: 1400px) {
  .article-card-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 992px) {
  .article-card-container {
    grid-template-columns: auto;
  }
}
</style>
