<template lang="pug">
.flex.column.center.full-screen.musician-background
  .error-box.text-center
    h1 Looks like that page doesn't exist...
    // add a fun 404 image/gif of the coach with a monocle here later

    a(href="/")
      i.far.fa-sign-out.fa-3x
      br
      span Go back to the home page

</template>

<script>
export default {
  layout: 'default'
}
</script>

<style lang="css" scoped>
.error-box {
  background: white;
  padding: 50px;
  border-radius: 15px;
}

.error-box h1 {
  margin-top: 0;
}

a,
a:visited,
span {
  color: #00bbd3 !important;
}
</style>
