<template lang="pug">
div
  header.flex.column.center.full-screen.musician-background.font-light.text-center
    .container-wide.flex.column.center.animated.bounceInUp
      img.logo(src="~assets/img/logo/Transparent@2x.png")
      h1.margin-0 Searching for music experts has never been easier
      h2.margin-0 Discover remote and in-person music instructors, producers, and engineers
      hr.dark
      #header-cta
        h3.join-mailing-list-title Join the early access list
        mailchimp-embed
  main
    // pug mixins
    include ../mixins/feature-box.pug

    //features
    section#features
      .container
        .feature-box-row.flex.row.wrap
          +feature-box({name: "user-check", library: "fas", background: "#01bcd4"}, "Vetted experts")
            p Every instructor on Coaches has been certified by ToneCoach to have a background in their field of expertise.
          +feature-box({name: "heart-rate", library: "far", background: "#e03534"}, "Live help")
            p Connect remotely with instructors on your iOS, Android, or desktop device for quick help on any music problems you have.
          +feature-box({name: "user-graduate", library: "fas", background: "#9f60da"}, "In-person instruction")
            p Get in touch with a coach to set up an in-person lesson plan for a personalized music education experience.

    //why
    explainer-section(
      id="why-explainer"
      image_src="/img/explainers/coaches/connect-explainer.jpg"
      image_alt="Man playing a piano."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Find music theory, audio engineer, and music production mentors.
        hr
        p When it comes to the music industry, not every question can be answered through Google or YouTube tutorials.
        p Having access to a network of experts can help you move from your current level in music to where you dream of being.
        p.font-dark
          strong With ToneCoach Coaches, you can find the perfect music mentor for you.
    //remote live help
    explainer-section(
      id="remote-explainer"
      image_src="/img/explainers/coaches/remote-explainer.jpg"
      image_alt="Woman working from home."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Get live help without the hassel of traveling with equipment.
        hr
        p You might have a simple question that could easily be answered on a live chat, video, or screen sharing session.
        p Once you've found a coach through the Coaches directory, it's easy to get in touch with them and set up a time to meet - even if that time is now!
        p.font-dark
          strong Coaches can help you easily connect with music mentors remotely.
    //in-person help
    explainer-section(
      id="in-person-explainer"
      image_src="/img/explainers/coaches/in-person-explainer.jpg"
      image_alt="Person playing guitar."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Connect with mentors and instructors to study with in-person.
        hr
        p Finding the best coach in your area can take a lot of time and cost a lot of money if you try out several shops in your area.
        p Whether you're looking to take music lessons for your favorite instrument or make real-world connections with expert musicians, audio engineers, and producers, Coaches can help you find mentors and music instructors to connect with!
        p.font-dark
          strong Finding in-person coaches is free and only takes a simple search in the Coaches directory.

    //end-page cta
    section#final-cta
      .container
        .flex.column.center.text-center
          h2.margin-0 Notify me when Coaches goes live
          p We are working hard to get ToneCoach Coaches up and running, but it's not up quite yet - enter your email below to get updates.
          hr.width-100
          mailchimp-embed
</template>

<script>
import MailchimpEmbed from '~/components/MailchimpEmbed.vue'
import ExplainerSection from '~/components/ExplainerSection.vue'

export default {
  layout: 'explainer',
  head() {
    return {
      title: "ToneCoach Coaches | Mentors for musicians and producers",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Find expert mentors in music theory, production, management, mixing, mastering, DJing, song writing, and more."
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: "ToneCoach Coaches | Mentors for musicians and producers"
        },
        {
          hid: "og:description",
          property: "og:description",
          content: "Find expert mentors in music theory, production, management, mixing, mastering, DJing, song writing, and more."
        },
        {
          name: 'twitter:title',
          content: 'ToneCoach Coaches | Mentors for musicians and producers',
          vmid: 'twitter:title'
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: "Find expert mentors in music theory, production, management, mixing, mastering, DJing, song writing, and more."
        }
      ]
    }
  },
  components: {
    MailchimpEmbed,
    ExplainerSection
  }
}
</script>

<style lang="css" scoped>
#final-cta hr {
  margin-bottom: 30px;
}
</style>
